<p *ngIf="!dogs"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="dogs">
  <thead>
    <tr>
      <th>Identifier</th>
      <th>Name</th>
      <th>Age</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dog of dogs">
      <td>{{ dog.id }}</td>
      <td>{{ dog.name }}</td>
      <td>{{ dog.age }}</td>
    </tr>
  </tbody>
</table>
<div class="createDog" *ngIf="dogs">
  <button (click)="createDog()">Add dog</button>
  <input [(ngModel)]="dogName" placeholder="name" />
  <input [(ngModel)]="dogAge" placeholder="age" />
</div>
